*{
    font-family:cursive;
    margin: 0;
    padding: 0;
    
}

.form{
    display: flex;
    justify-content: center;
    background-image: url("flower.png");
    height: 100%;
    background-repeat: no-repeat;
    padding: 25px;
  
}
.formcontainer{
    display: flex;
    flex-direction: column;
    
    padding: 25px;
    margin-top: 30px;
    width: 500px;
    /* height: 50%; */
    background-color: rgb(255, 227, 195);
    border-radius: 20px;
    /* display: inline-block; */
}
label {
    padding: 5px;
     margin: 5px;
     color: #2B3A55;
     font-weight:lighter;    
 }
input{
    
    padding: 5px;
    margin: 5px;
    color: #2B3A55;
    border-radius: 20px;
    
}
.formcontainer button{
    padding: 5px;
    margin: 20px 5px;
    border-radius: 20px;  
    background-color: #2B3A55; 
    color: #eef1f7;
}
